
.footer {
  width: 100%;
  font-family: Next-Medium;
  padding: 20px 0 20px 0;
  letter-spacing: 1px;
  position: absolute;
  bottom:0px;
}

.footerList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-left: 40%;
  padding-right: 40%;

  li {
    flex: 1;
  }
}



.blog {
  color: #fff;
  letter-spacing: 1.2px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:active {
  text-decoration: none;
  color: #fff;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

  .footer {
    position: relative;
    bottom: 0px;
  }

  .footerList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
  }
  .dope {

  }
}
